@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap%27');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
    background: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text h6 {
    font-size: 1.4em;
    font-weight: 200;
    color: hsl(234, 12%, 34%)
}

.header-text h1 {
    font-size: 23px;
}

.header-text p {
    font-size: 1em;
    padding: 2em 0;
    color: hsl(229, 6%, 66%);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.card {
    background: #fff;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
    width: 100%;
}
.center-cards{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.card h2 {
    font-weight: 600;
    color:hsl(234, 12%, 34%)
}

.card p {
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}

.card img {
    width: 60px;
    align-self: flex-end;
    padding-top: 2em;
}

.card-1 {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.card-2 {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.card-3 {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.card-4 {
    border-top: 5px solid hsl(212, 86%, 64%);
}



@media screen and (min-width: 1440px){
    body{
        overflow: hidden;
    }
    .header-text h6{
        font-size:1.8em;
    }
    .header-text h1{
        font-size:30px;
    }
    .header-text p{
        font-size: 1.1em;
        width: 50%;

    }
    .cards{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card{
        padding: 2em;
        width: 25em;
    }
    
   
}