@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap%27');


:root {

    /* Primary Text  */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* Background-gradients */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Neutral text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--Soft-violet) 10%, var(--Soft-blue));
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.faqs {
    margin-top: 5em;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    width: 23em;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.2);
    margin-top: 5em;
}

.faq {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

img {
    position: absolute;
    top: -7em;
    width: 15em;
    right: 50%;
    transform: translateX(50%);
}

.faqs h1 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 600;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    background-color: yellow;
    width: 22em;
    height: 2px;
    margin: 1.5em 0;
}

.question {
    color: hsl(240, 6%, 50%);
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}

.question:hover {
    color: crimson;
}

.answer {
    display: none;
    color: rgb(133, 132, 132);
    margin-left: 10px;

}

.faq-toggle {
    color: crimson;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 4px;
    right: -10px;
    height: 30px;
    width: 30px;
}

.faq.active .faq-toggle {
    transform: rotate(180deg);
    color: crimson;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: -10px;
    right: 20px;
}

.faq.active .answer {
    display: block;
}

.faq.active .question {
    color: red;
    margin-bottom: 10px;
}


@media only screen and (min-width:1150px) {
    .card {
        flex-direction: row;
        width: 60em;
        overflow: hidden;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .card img {

        left: -3em;
        width: 30em;
        top: 50%;
        transform: translateY(-50%);
    }

    .faqs {
        text-align: start;
        width: 50%;
        margin-top: 3em;
    }

    .faqs h1 {
        text-align: start;
    }
    .question, .answer{
        margin: 0;
    }
    .faq-toggle {
        right: 6em;
    }
    .faq.active .faq-toggle {
        right: 6em;
    }
    .answer{
        width: 23em;
    }
}