@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color:hsl(218, 23%, 16%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    position: relative;
    background-color:hsl(217, 19%, 24%); 
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    gap: 1em;
    border-radius: 10px;
}
.card h3{
    color:hsla(150, 100%, 66%,.8);
    font-size: 12px;
    letter-spacing: 3px;
}
.card p{
    text-align: center;
    color:hsl(193, 38%, 86%);
    font-size: 1.4em;
    font-weight: 800;
}
.card p::selection{
 color:#000;
 background-color:hsl(150, 100%, 66%);
}
.mobile-img{
    margin-top: 1em;
    margin-bottom: 2em;
}
.desktop-img{
    display: none;
    margin: 1em 0;
}
.btn{
    position: absolute;
    background-color:hsl(150, 100%, 66%);
    bottom: -2em;
    border: none;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    cursor: pointer;
}
